.card {
  background-color: var(--dark);
  border-radius: 16px;
  color: var(--light);
  width: 32%;
}

.banner {
  border-radius: 15px 15px 0px 0px;
}

.textContainer {
  padding: 0 2rem 4rem 2rem;
}

.subheaderContainer {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.subheader {
  font-size: 1.6rem;
}

.clockContainer {
  margin-top: 3rem;
}

.clock {
  font-size: 3rem;
  font-family: "Oxygen Mono", monospace;
  font-weight: 400;
}
