.card {
  background-color: var(--dark);
  border-radius: 16px;
  color: var(--light);
  margin: 3rem 1.5rem 0 1.5rem;
  box-shadow: 1px 1px 5px 0px var(--dark);
  max-width: 450px;
  flex: 1 1 295px;
}

.banner {
  border-radius: 15px 15px 0px 0px;
}

.textContainer {
  padding: 0 2rem 4rem 2rem;
}

.subheaderContainer {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.subheader {
  font-size: 1.6rem;
}

.clockContainer {
  margin-top: 3rem;
  text-align: center;
}

.clock {
  font-size: 3rem;
  font-family: "Oxygen Mono", monospace;
  font-weight: 400;
}
