.root {
  margin-top: 4rem;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.inputHeader {
  margin-bottom: 1rem;
}

.dateSection {
  width: 100%;
  max-width: 450px;
  margin: 3rem 1.5rem 0 0rem;
  flex: 1 1 295px;
}

.dateSection input {
  font-size: 1.6rem;
}

.fieldRow {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.slider {
  width: 100%;
}

@media screen and (min-width: 700px) {
  .dateSection {
    width: 50%;
  }
}
