.root {
  margin-top: 4rem;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.inputHeader {
  margin-bottom: 1.6rem;
}

.dateSection {
  width: 100%;
  max-width: 450px;
  margin: 3rem 1.5rem 0 0rem;
  flex: 1 1 295px;
}

.dateSection input {
  font-size: 1.6rem;
}

.dateItemContainer {
  display: flex;
  justify-content: space-between;
}

.seasonText {
  text-align: center;
  font-size: 1.6rem;
}

@media screen and (min-width: 700px) {
  .dateSection {
    width: 50%;
  }
}
