.root {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.title {
  margin-top: 0;
  font-size: 6rem;
  letter-spacing: 3px;
}

@media screen and (min-width: 600px) {
  .title {
    font-size: 12.8rem;
  }
}
