html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", serif;
  font-size: 10px;
  background-color: var(--light);
  scroll-behavior: smooth;
}

p,
li {
  margin-top: 1.2em;
  line-height: 1.8;
}

p,
li,
h6 {
  font-size: 1.6rem;
}

h5 {
  font-size: 2.4rem;
}

h4 {
  font-size: 2.376rem;
}

h3 {
  font-size: 3.656rem;
}

h2 {
  font-size: 4.5712rem;
}

h1 {
  font-size: 6.4rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0.6em;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  color: var(--red);
}

a {
  color: var(--red);
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

sub {
  vertical-align: sub;
  font-size: smaller;
}

button {
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-size: 1.8rem;
  padding: 1.4rem 2.4rem;
  border: none;
  border-radius: 4px;
  color: var(--light);
}

button.primary {
  background-color: var(--red);
}

button.secondary {
  background-color: var(--dark);
}

:root {
  --light: #eaecef;
  --medium: #dadada;
  --white: #ffffff;
  --red: #cc4425;
  --dark: #3e4147;
}
