.root {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 960px;
}

.missionContainer {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

@media screen and (min-width: 600px) {
  .root {
    width: 80%;
  }
}
